                      /*NAVBAR*/
/* Placeholder for dynamic loading */
#navbar-placeholder {
  margin: 0;
  padding: 0;
  background-color: #0f1516;  /* matches navbar color */
}
#nav{
  background-color:#0f1516;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 10px 20px;
  position: fixed; /* flush at top */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/*nav link*/
#nav .nav-link{
    text-decoration: none;
    color: #7f8c94 !important;
    font-family: 'Playfair Display', serif;
}
    
#name{
     text-decoration: none;
     color: #7f8c94;
     text-align: left;
      font-family: 'Playfair Display', serif;
      font-weight: bold;
     
}
#navbar .navbar-brand img {
  display: block;
  vertical-align:top;
  line-height: 0;
  margin: 0;
  padding: 0;
    height: auto;          /* maintain aspect ratio */
  max-height: 80px;      /* maximum height on large screens */
  height: clamp(40px, 8vw, 100px);
  width: auto; 
}
#navbar .nav-item.dropdown:hover > .dropdown-menu {
  opacity: 1;
  visibility: visible;
}
#navbar .nav-link:hover {
  transition: color 0.3s ease;
    color: #5e524b!important; 
}
#navbar .nav-link.active {
  border-bottom: 2px solid #5e524b ;
}

           